# Application
PORT=3000
NODE_ENV=development
SECRET=your-secret-key
CORS_ORIGIN=http://localhost:5173

# Mail
MAIL_STRATEGY_ID=LOCAL
RESEND_FROM=onboarding@resend.dev
RESEND_API_KEY=

# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=pocketdock
POSTGRES_PASSWORD=your-postgres-password
POSTGRES_DB=pocketdock

# OAuth
OAUTH_SUCCESS_REDIRECT_URL=http://localhost:5173

GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=
GOOGLE_OAUTH_REDIRECT_URI=

# Logger
LOG_CONTEXTS=log,error

# Docker
DOCKER_HOST=unix:///var/run/docker.sock